<!DOCTYPE html><html>
<head><meta charset="UTF-8"> <title>Welcome</title>
<style>
 body {background-color:#FFFFD2; 
 text-align: center;}
 img {width: 280px; height: 320px; }
 h1 {color:brown; }
 span {color:gray; font-size:0.8em; }
</style></head>
<body>
<h1>코인 매매</h1>
(Bitcoin, Ethereum, Sol) <p>
<form method="get" action="/login/check"> 
 ID: <input type="text" name="mid"> <p>
 <input type="submit" value="login">
</form><p>
<img src="/bitcoin.jpg" alt="비트코인"><br>
<span>(그림 출처:https://blog.naver.com/lc245imos/223299426196)</span>
</body></html>